---
import Home from "../../layouts/Home.astro";
import { Calendar as SolidCalendar } from "../../components/Calendar";
---

<Home>
  <p class="center"><a href="/class/timeline">Go To Timeline &rarr;</a></p>
  <SolidCalendar client:idle />
  <article aria-busy="true" class="large" style="height: 742px"></article>
</Home>
