---
import Authed from "../../layouts/Authed.astro";
---

<Authed>
  <h2 class="center">Give some feedback for this course.</h2>
  <div>Google Survey Form Link:</div>
  <p><a href="">Survey</a></p>
</Authed>