@import "./animations.css";
/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: 'Atkinson', Verdana, sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 20px;
	line-height: 1.7;
}

.dark .nav-links a {
  color: #fff;
}
main {
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	line-height: 1.2;
}
h1 {
	font-size: calc(1.25em + 2vw);
}
h2 {
	font-size: calc(1.125em + 1.75vw);

}
h3 {
	font-size: calc(1em + 1.5vw);

}
h4 {
	font-size: calc(0.9em + 1.25vw);

}
h5 {
	font-size: calc(0.75em + 1vw);
}
h6 {
	font-size: calc(0.6em + 0.6vw);
}
.center {
	text-align: center;
}
strong,
b {
	font-weight: 700;
}
a[disabled], button[disabled] {
	opacity: 0.5;
	pointer-events: all !important;
	cursor: not-allowed !important;
}
button, [role=button] {
	display: flex;
	justify-content: center;
	align-items: center;
}
a.ghost, button.ghost {
	color: var(--primary);
	background-color: transparent;
	border: 1px solid var(--primary);
}
a.slim, button.slim {
	max-height: 2rem;
	padding: 1px 4px;
}
a.medium, button.medium {
	max-height: 2rem;
	padding: 6px 8px;
}
a.pill, button.pill {
	border-radius: 10em;
}
html[data-theme='dark'] a.ghost, html[data-theme='dark'] button.ghost {
	color: white;
}
a.ghost:hover:not([disabled]), button.ghost:hover:not([disabled]) {
	background-color: var(--primary-focus);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	/* background-color: rgb(var(--gray-light)); */
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

astro-island:has(*) + [aria-busy=true], [data-loaded=true] + [aria-busy=true] {
	display: none;
}
[aria-busy=true].large:before {
	margin-top: 5em;
	border-radius: 100px;
	border-width: 0.25em;
	height: 3em;
	width: 3em;
}

main > article {
	display: contents;
}
@media (min-width: 850px) {
	main > article {
		display: block;
		margin: 0 auto;
		padding: 3rem;
		border-radius: 8px;
		min-width: 800px;
		width: 50vw;
	}
}

span.mobile-only {
	display: inline;
}
span.desktop-only {
	display: none;
}
@media (min-width: 800px) {
	span.mobile-only {
		display: none;
	}
	span.desktop-only {
		display: inline;
	}
}

details {
	margin: 0;
}
details .listbox {
	z-index: 999;
}