---
import Home from "../layouts/Home.astro";
---

<Home>
  <article>
      <h1>Page Not Found.</h1>
      <p>How'd we get here?</p>
      <p>Let's go <a href="/">home.</a></p>
  </article>
</Home>

<style>
  h1 {
    margin-bottom: 0.5em;
  }
</style>