---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About This Course"
  description="Front End Developer Professional Course Details"
  pubDate={new Date(Date.now())}
  heroImage="/origami_leaves_path.jpg"
>
  <p>
    This <strong><a href="https://campusce.monroecc.edu/monroecc/course/course.aspx?C=848" target="_blank">Front End Developer Professional Certification</a></strong> course provides foundational knowledge of Web page basics, HTML, HTML5,
    CSS3, SVG, and the DOM, JavaScript
  </p>
  <p>
    Front-End developers are some of the most sought-after internet
    professionals by tech giants and start-ups alike. Front-End & User-Interface
    Developers create the entire visual interface of a website and apps that
    customers and users interact with as they browse online, whether on a mobile
    device or a desktop computer. They are also responsible for the overall user
    experience, device compatibility, and speed of the websites and mobile apps.
    Employers also expect applications to do much more than merely display text
    and images, and so, Front-End Developers require tools and techniques to
    accomplish that.
  </p>
  <p>
    This course will teach the essential tools that every web page coder needs
    to know: HTML5, CSS3, SVG, and the DOM. You will be introduced to JavaScript
    and gain familiarity with web development tools such as a Text Editor like
    VSCode, git version control, GitHub.com, web browsers and their dev tools,
    accessibility validators, and more. You'll also become familiar with modern
    best practices for authoring websites with modern web standards and UI and
    UX principles. You will learn how to code up a resume, a card gallery,
    navigation menus, documentation pages, and a portfolio site, and then you
    will learn how to deploy them online to show off your new skills to anyone
    by sharing a link. The Front-end Developer Career-Ready Professional
    Certification program is offered as a set of stackable 3 standalone courses
    that together will allow you to master the range of technologies used to
    develop high-quality web and mobile applications that work seamlessly on
    mobile, tablet, and desktop browser.
  </p>

  <ul>
    <li>
      <strong>Front-end Developer I Foundation:</strong>
      <p>Web page basics, HTML, HTML5, CSS3, SVG, and the DOM, JavaScript</p>
    </li>
    <li>
      <strong>Front-end Developer II Advanced:</strong>
      <p>Web design patterns (MVC, Web Components), Application development</p>
    </li>
    <li>
      <strong>Front-end Developer III Professional:</strong>
      <p>
        Advanced JavaScript, React and introduction to server-side technologies
        Node.js, NoSQL DB
      </p>
    </li>
  </ul>

  <p>
    Pre-requisites: There are no formal pre-requisites for this course. Previous
    experience designing static websites or using web publishing tools such as
    WordPress, Adobe will be helpful.
  </p>

  <p>
    Looking for tuition assistance? Qualified Monroe County residents may be
    eligible for funding. Visit www.workforceforward.com/mpower to learn more.
  </p>

  <p>
    Register for upcoming Informational Webinars: Click here sign up for the
    Front-End Developer Webinar.
  </p>
</Layout>
