---
import Home from "../layouts/Home.astro";
---

<Home>
  <h1 class="center">More Courses</h1>
  <article>
    <ul style="columns: 2;">
      <li>Job Search & Career Prep Seminar</li>
      <li>Build a blog app with Astro</li>
      <li>Typescript Fundamentals</li>
      <li>Data Visualization with D3.js</li>
      <li>Node.js & Serverside Javascript</li>
      <li>Making Games with Javascript & Canvas</li>
      <li>Build Real-time apps with Web sockets</li>
      <li>
        Database Fundamentals for Frontend developers: Relational, Documents, KV
        store and more
      </li>
      <li>Machine Learning with Javascript, Tensorflow, & torch.js</li>
      <li>3D graphics in the Browser with Three.js</li>
      <li>Web Components & publishing npm packages</li>
      <li>GraphQL & REST APIs</li>
      <li>Web Workers</li>
      <li>Internet of Things with Node.js</li>
    </ul>
  </article>
</Home>
