---
import Home from "../layouts/Home.astro";
---

<Home>
  <h1 class="center">Recommended</h1>
  <h1 class="center">VS Code Extensions</h1>
  <article>
    <ol>
      <li>
        <a
          href="https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer"
          >Live Server</a>
      </li>
      <li>
        <a
          href="https://marketplace.visualstudio.com/items?itemName=ecmel.vscode-html-css"
          >HTML CSS Support</a>
      </li>
      <li>
        <a
          href="https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode"
          >Prettier</a>
      </li>
      <li>
        <a
          href="https://marketplace.visualstudio.com/items?itemName=PKief.material-icon-theme"
          >Material Icon Theme</a>
      </li>
      <li>
        <a
          href="https://marketplace.visualstudio.com/items?itemName=wix.vscode-import-cost"
          >Import Cost</a>
      </li>
    </ol>
  </article>
</Home>

<style>
  ol {
    margin: 0 auto;
    max-width: 50vw;
    width: fit-content;
  }
</style>
