---
import Home from "../layouts/Home.astro";
---

<Home>
  <h1 class="center">Recommended</h1>
  <h1 class="center">VS Code Extensions</h1>
  <article>
    <ol>
      <li>
        <a
          href="https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer"
          >Live Server</a>
      </li>
      <li>
        <a
          href="https://marketplace.visualstudio.com/items?itemName=ecmel.vscode-html-css"
          >HTML CSS Support</a>
      </li>
      <li>
        <a
          href="https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode"
          >Prettier</a>
      </li>
      <li>
        <a
          href="https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint"
          >ES Lint</a>
      </li>
      <li>
        <a
          href="https://marketplace.visualstudio.com/items?itemName=PKief.material-icon-theme"
          >Material Icon Theme</a>
      </li>
      <li>
        <a
          href="https://marketplace.visualstudio.com/items?itemName=usernamehw.errorlens"
          >Error Lens</a>
      </li>
      <li>
        <a
          href="https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens"
          >Git Lens</a>
      </li>
      <li>
        <a
          href="https://marketplace.visualstudio.com/items?itemName=pomber.git-file-history"
          >Git File History</a>
      </li>
      <li>
        <a
          href="https://marketplace.visualstudio.com/items?itemName=humao.rest-client"
          >HTTP Rest Client</a>
      </li>
      <li>
        <a
          href="https://marketplace.visualstudio.com/items?itemName=yoavbls.pretty-ts-errors"
          >Pretty TypeScript Errors</a>
      </li>
    </ol>
  </article>
</Home>

<style>
  ol {
    margin: 0 auto;
    max-width: 50vw;
    width: fit-content;
  }
</style>
