---
import Home from '../layouts/Home.astro'
---

<Home>
  <article>
    <h1>FAQ</h1>
    <ol>
      <li>
      <strong>How do we do our homework?</strong>
        <p>Just complete the FCC exercises and make your profile public, then I'll be able to see your progress</p>
      </li>
      <li>
        <strong>How do we communicate with you and other students?</strong>
        <p>We use an app called discord. You should have received an invite. If not ask me to resend it.</p>
      </li>
    </ol>    
  </article>
</Home>

<style>
  article {
    min-width: 800px;
    width: 50vw;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 8px
  }
</style>