---
import AuthedHome from '../layouts/AuthedHome.astro';
import { checkAuth} from '../lib/checkAuth'

const { cookies, redirect } = Astro;

const auth = await checkAuth({cookies, redirect})
  .then(data => data)
  .catch(err => console.log(err));

---

<AuthedHome>
  <main>
    <h1>My Progress</h1>
    <h2>Welcome {auth?.user?.email}</h2>
    <pre>{auth}</pre>
  </main>
</AuthedHome>
