---
import AuthedHome from '../layouts/AuthedHome.astro';

const { auth } = Astro.props;
---

<AuthedHome>
  <main>
    <h1>My Progress</h1>
    <h2>Welcome {auth?.user?.email}</h2>
    <pre>{auth}</pre>
  </main>
</AuthedHome>
