---
import Home from '../layouts/Home.astro';
---

<Home>
  <main>
    <h1>Quiz</h1>
    <p>Go to <a href="https://www.classtime.com/en">Classtime.com</a></p>
    <p>today's code is: <strong>...</strong></p>
    <br/>
    <p><a href="https://www.classtime.com/en"> Go to today's quiz</a></p>
  </main>
</Home>
