---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Quiz"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date(Date.now())}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>Quiz</p>
</Layout>
