---
import { Icon } from 'astro-icon/components';
import Home from '../layouts/Home.astro';
---

<Home>
  <header class="banner" slot="banner">
    <Icon name="external_link" />
    <h5>Today's Quiz Code: </h5>
    <strong>(No quiz today)</strong>
    <a href="https://www.classtime.com/en">direct classtime.com link</a>
    <Icon name="checked_circle" />
  </header>
  <main>
    <p class="center">Quizzes are taken at <a href="https://www.classtime.com/en">classtime.com</a>!</p>
    <br />

    <h1 class="center">Course Quizzes</h1>
    <article>
      <h6>Section 1: HTML & CSS</h6>
      <ol>
        <li>HTML</li>
        <li>Semantic HTML</li>
        <li>HTML Forms</li>
        <li>CSS Basics</li>
        <li>CSS</li>
        <li>Flexbox Basics</li>
        <li>Flexbox</li>
        <li>Grid Basics</li>
        <li>Grid</li>
        <li>Advanced Grid</li>
        <li>Terminal Basics</li>
        <li>Markdown</li>
        <li>Images</li>
        <li>SVG</li>
      </ol>
    </article>
    <article>
      <h6>Section 2: Javascript</h6>
      <ol>
        <li>Primitives, Variables, Operators</li>
        <li>Functions</li>
        <li>Arrays</li>
        <li>Conditionals & Loops</li>
        <li>The DOM</li>
        <li>Objects</li>
        <li>ES6 & Beyond</li>
        <li>Modules, Closures & Classes</li>
        <li>Regex</li>
        <li>Promises</li>
        <li>The Event Loop</li>
        <li>Design Patterns</li>
        <li>Fetch (GET)</li>
        <li>Fetch (POST)</li>
        <li>MVC</li>
      </ol>
    </article>
    <article>
      <h6>Section 3: React</h6>
      <ol>
        <li>Terminal & NPM</li>
        <li>JSX</li>
        <li>Node & Build tools</li>
        <li>React Concepts</li>
        <li>Hooks & useState</li>
        <li>React Mental Model</li>
        <li>useEffect</li>
        <li>useRef</li>
        <li>Advanced Hooks</li>
        <li>React Router</li>
        <li>Redux</li>
      </ol>
    </article>
  </main>
</Home>

<style>
  html[data-theme="dark"] header :is(h5, strong, a, svg) {
    color: var(--gray-8) !important;
    margin: 0;
    margin-bottom: 1em;
  }
  header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background: linear-gradient(to top, transparent, var(--tan));
    padding-block: 1em;
    position: sticky;
    top: 70px;
  }
  header > * {
    margin: 0;
  }
  header a {
    text-decoration: underline;
  }
</style>