---
import Home from '../layouts/Home.astro';
---

<Home>
  <article>
    <div>
      <h1>Reset Password</h1>
      <slot />
      <form action="/api/auth/reset" method="post">
        <label for="email">Your Signup Email:</label>
        <input
          type="text"
          name="email"
          id="email"
          placeholder="Email"
          aria-label="Email"
          autocomplete="email"
          required
          pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
        />
        <button type="submit" class="contrast">Submit</button>
      </form>
      <a href="/login">Back to login</a>
    </div>
  </article>
</Home>

<style>
  article {
    margin: 0 auto;
    min-width: 600px;
    width: 50vw;
  }
  a[href="/login"] {
    margin-top: 1em;
    text-align: center;
    display: block;
  }
</style>