---
import Home from '../layouts/Home.astro';
---

<Home>
  <h2 class="center">Google Search Tips</h2>
  <article>
  <table>
    <thead>
      <tr>
        <td>SEARCH QUERY</td>
        <td>SEARCH RESULTS</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>"what is javascript"</td>
        <td>Result is an exact match</td>
      </tr>
      <tr>
        <td>html AND css</td>
        <td>Result will contains both terms</td>
      </tr>
      <tr>
        <td>(javascript OR python) free course</td>
        <td>Results will contain either term in parenthesis</td>
      </tr>
      <tr>
        <td>Javascript -css</td>
        <td>Excludes “css” from results</td>
      </tr>
      <tr>
        <td>"how to start * in 6 months"</td>
        <td>Wildcard is replaced by any word</td>
      </tr>
      <tr>
        <td>site:freecodecamp.org</td>
        <td>Constrains results to given site</td>
      </tr>
      <tr>
        <td>filetype:pdf learn css</td>
        <td>Constrains results to given file type</td>
      </tr>
      <tr>
        <td>ecmascript 2016..2018</td>
        <td>Results include all between the range of numbers</td>
      </tr>
      <tr>
        <td>javascript before:2020</td>
        <td>Results from before a certain date</td>
      </tr>
      <tr>
        <td>javascript after:2020</td>
        <td>Results from after a certain date</td>
      </tr>
    </tbody>
  </table>
</article>
</Home>
