---
import Home from '../layouts/Home.astro';
import AuthForm from '../components/AuthForm.astro';
---

<Home>
	<AuthForm title="Sign up" action="/api/auth/register">
    <p>Already have an account? <a href="/login">Login</a></p>
  </AuthForm>
</Home>
