---
import Home from '../layouts/Home.astro'
---

<Home>
  <h1 class="center">Course Slides</h1>
  <article>
    <ol>
      <strong>Section I: HTML & CSS</strong>
      <li><a href="http://wjv.io/slides/01-html/#/">HTML</a></li>
      <li><a href="http://wjv.io/slides/03-css/#/">CSS Basics</a></li>
      <li><a href="http://wjv.io/slides/04-layout/#/">CSS Layouts</a></li>
      <li><a href="http://wjv.io/slides/02-layout/#/">Images</a></li>
      <li><a href="http://wjv.io/slides/05-layout/#/">SVG</a></li>
    </ol> 
  </article>
    
  <article>
    <ol>
      <strong>Section II: Javascript</strong>
      <li><a href="http://wjv.io/slides/06-js/#/">JS</a></li>
      <li><a href="http://wjv.io/slides/07-dom/#/">DOM</a></li>
      <li><a href="http://wjv.io/slides/08-es6+/#/">ES6 and Beyond</a></li>
      <li><a href="http://wjv.io/slides/09-regex/#/">Regex</a></li>
      <li><a href="http://wjv.io/slides/10-async/#/">Async JS</a></li>
      <li><a href="http://wjv.io/slides/10-mvc/#/">MVC</a></li>
    </ol>  
  </article>

  <article>
    <ol>
      <strong>Section III: Node, React & Frameworks</strong>
      <li><a href="http://wjv.io/slides/12-node/#/">NodeJS</a></li>
      <li><a href="http://wjv.io/slides/17-git/#/">GIT</a></li>
      <li><a href="http://wjv.io/slides/13-react/#/">React</a></li>
      <li><a href="http://wjv.io/slides/14-build/#/">Build Tooling</a></li>
      <li><a href="http://wjv.io/slides/15-redux/#/">Redux</a></li>
      <li><a href="http://wjv.io/slides/16-crud/#/">CRUD Application</a></li>
    </ol>  
  </article>
</Home>

<style>
  article {
    min-width: 800px;
    width: 50vw;
    margin: 1em auto;
    padding: 3rem;
    border-radius: 8px
  }
</style>