---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Syllabus"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date(Date.now())}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>Syllabus</p>
</Layout>
