---
import Home from "../../../layouts/Home.astro";
import TimelineCards from "../../../components/TimelineCards.astro";
import { timeline_2 } from "../../../data/timeline";
---
<!-- add icons to each card -->
<!-- Wire up date to it calculates based on starting date... date key should be day offset number value (not a hardcoded date) -->
<!-- Add toggle to view as horizontal carousel view, with current date focused (even vertical view should auto scroll to cur date) -->
<!-- Add kanban board for hw, projects etc. -->
<!-- split and format content in `key`s -->
<!-- Add this content to Calendar as well -->
<!-- Add more thorough resource links to each card (including code sandboxes & slides, homework urls, project urls) -->
<!-- Use good card design -->

<Home>
  <h1 class="center">Timeline</h1>
  <h4 class="center">Section 2: Javascript</h4>
  <article>
    <TimelineCards timeline={timeline_2} />
  </article>
</Home>

<style>
  article {
    background-color: rgb(0, 16, 48);
    width: unset;
    max-width: 75vw;
  }
  html[data-theme="light"] article {
    background-color: white;
  }
  h1 {
    margin-bottom: 1em;
  }
</style>