---
import { prefetch } from 'astro:prefetch';
interface Props {
  action: string
  title: string;
  reset?: boolean;
}
const { action, title, reset } = Astro.props;
---

<article>
  <div>
    <hgroup>
      <h1>{title}</h1><span>to access to the course content.</span>
    </hgroup>
    <slot />
    <form action={action} method="post">
      <label for="email">Email</label>
      <input
        type="text"
        name="email"
        id="email"
        placeholder="Email"
        aria-label="Email"
        autocomplete="email"
        required
        pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
      />
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        aria-label="Password"
        autocomplete="current-password"
        required
      />
      {reset && <a href="/reset">Reset Password</a>}
      <button type="submit" class="contrast">{title}</button>
    </form>
  </div>
</article>

<style>
  hgroup {
    display: flex;
    align-items: baseline;
    gap: 1em;
  }
  article {
    margin: 0 auto;
    min-width: 600px;
    width: 50vw;
  }
</style>