---
import { Icon } from "astro-icon/components";
import SocialLinks from "./SocialLinks.astro";
const today = new Date();
---

<footer>
  <section>
    <div class="wrapper">
      <ul style="padding: 0;">
        <h6 style="white-space: nowrap;">Getting Started</h6>
        <li><a href="/about">About</a></li>
        <li><a href="/faq">FAQ</a></li>
      </ul>
      <SocialLinks vertical withLabels />
    </div>
    <ul>
      <h6>Essential Tools</h6>
      <li><a href="https://code.visualstudio.com/">VS Code (recommended)</a></li>
      <li><a href="https://vscode.dev">VSCode.dev (alternative)</a></li>
      <li><a href="https://git-scm.com/">Git SCM</a></li>
      <li><a href="https://nodejs.org/">Node.js</a></li>
      <li><a href="/extensions">VS Code Extensions</a></li>
    </ul>
    <ul class="resources">
      <h6>Resources</h6>
      <li><a href="/newsletter">Get the Newsletter</a></li>
      <li><a href="/career">Career Center</a></li>
      <li><a href="/courses">More Courses</a></li>
      <li><a href="/search_tips">Search Tips</a></li>
      <li><a href="/articles">Articles</a></li>
    </ul>
  </section>
  <hr id="footer-divider" />
  <div>
    <a href="https://github.com/JamieVaughn" target="_blank">
      <svg class="github-logo" viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
        <path
          fill="currentColor"
          d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
        ></path>
      </svg>
    </a>
    <Icon name="logo" width={150} height={32} style="margin-bottom: 8px;"/>
    <div style="margin-left: auto;">&copy; {today.getFullYear()} Dev Road. All rights reserved.</div>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em;
    color: rgb(var(--gray));
    text-align: center;
    box-shadow: 0 -2px 8px rgba(var(--black), 5%);
  }
  html[data-theme=dark] footer {
    box-shadow: 0 -2px 8px rgba(255, 255, 255, 0.15);
  }
  section {
    display: flex;
    justify-content: start;
    gap: 1em;
    color: black !important;
    margin: 0;
    padding: 0 3em;
  }
  .wrapper {
    padding: 0.5em 1em;
    display: flex;
    gap: 1em;
    background: linear-gradient(135deg, #8f8fa124 30%, transparent);
    border-radius: 8px;
    height: fit-content;
  }
  .resources {
    margin-left: auto;
  }
  section h6 {
    margin-bottom: 0.5em;
  }
  section > ul {
    margin-top: 0.5em;
  }
  section ul {
    text-align: left;
  }
  section ul li {
    list-style: none;
    padding-left: 2rem;
    margin-bottom: 0;
  }
  html[data-theme="light"] section ul a {
    color: var(--dark);
  }
  html[data-theme="light"] section ul a {
    color: var(--gray-5);
  }
  footer hr#footer-divider {
    margin: 2em 0;
    height: 1px;
    border: 0;
    background: linear-gradient(90deg, transparent, var(--gray-6), transparent);
  }
  footer > div {
    display: grid;
    grid-template-columns: 48px 1fr 1fr;
    align-items: center;
  }
</style>
