---
import { Icon } from "astro-icon/components";
import SocialLinks from "./SocialLinks.astro";
const today = new Date();
---

<footer>
	<section>
		<ul>
			<h6>Getting Started</h6>
			<li><a href="/faq">FAQ</a></li>
			<li><a href="https://code.visualstudio.com/">VS Code</a></li>
			<li><a href="https://vscode.dev">VSCode.dev</a></li>
			<li><a href="https://git-scm.com/">Git SCM</a></li>
			<li><a href="https://nodejs.org/">Node.js</a></li>
		</ul>
		<SocialLinks vertical withLabels />
		<ul class="resources">
			<h6>Resources</h6>
			<li><a href="/articles">Articles</a></li>
			<li><a href="/career">Career Center</a></li>
			<li><a href="/courses">More Courses</a></li>
			<li><a href="/about">About</a></li>
			<!-- <li><a href=""></a></li> -->
		</ul>
		
	</section>
	<hr id="footer-divider"/>
	<div>
		<Icon name="logo" />
		<div>&copy; {today.getFullYear()} Dev Road. All rights reserved.</div>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	section {
		display: flex;
		justify-content: start;
		gap: 10%;
		color: black !important;
		margin: 0;
		padding: 0 3em;
	}
	.resources {
		margin-left: auto;
	}
	section h6 {
		margin-bottom: 0.5em;
	}
	section ul {
		text-align: left;
	}
	section ul li {
		list-style: none;
		padding-left: 2rem;
		margin-bottom: 0;
	}
	html[data-theme=light] section ul a {
		color: var(--dark);
	}
	html[data-theme=light] section ul a {
		color: var(--grey-5);
	}
	footer hr#footer-divider {
		margin: 2em 0;
		height: 1px; 
		border: 0;
		background-image: -webkit-linear-gradient(left, transparent, rgb(var(--gray)), transparent);
		background-image: -moz-linear-gradient(left, transparent, rgb(var(--gray)), transparent);
	}
	footer div {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	footer svg {
		height: 48px;
		width: 200px;
	}
</style>
