---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---
<li>
	<a href={href} class:list={[className, { active: isActive }]} {...props}>
		<slot />
	</a>
</li>
<style>
	a {
		display: inline-block;
		text-decoration: none;
		border-radius: 0;
	}
	a.active {
		color: var(--gray-dark);
		text-decoration: underline;
		border-color: black;
		border-radius: 8px 8px 0 0;
		background-color: var(--primary-focus);
	}
</style>
