---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import ThemeIcon from './ThemeIcon.astro';
import { Icon } from 'astro-icon/components';
---

<header>
	<nav>
		<ul>
		<li>
			<h2>
				<a href="/">
					<Icon name="mountain-road" />
					{SITE_TITLE.split(' ').map(word => <div>{word}</div>)}
				</a>
			</h2>
		</li>
		</ul>
		<ul class="feature-links">
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/syllabus">Syllabus</HeaderLink>
			<HeaderLink href="/courses">Courses</HeaderLink>
			<HeaderLink href="/career">Career</HeaderLink>
			<HeaderLink href="/blog">Articles</HeaderLink>
			<HeaderLink href="/timeline">Timeline</HeaderLink>
			<HeaderLink href="/calendar">Calendar</HeaderLink>
			<HeaderLink href="/quiz">Quiz</HeaderLink>
		</ul>
		<ul>
			<li>
				<ThemeIcon />
			</li>
			<li>
				<a href="/signup" role="button">Sign Up</a>
			</li>
			<li>
				<a href="login" role="button" class="ghost">Log In</a>
			</li>
		</ul>
	</nav>
</header>
<style>
	header {
		position: sticky;
		top: 0;
		margin: 0;
		padding: 0.5em 1em 0;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		z-index: 99;
		background-color: var(--background-color);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
		align-content: center;
		justify-content: center;
		gap: 4px;
		text-decoration: none;
	}

	svg {
		grid-row: 1 / span 2;
		height: 45px;
		width: 45px;
	}
	nav {
		height: 60px;
	}
	nav a:not(a[role=button]) {
		border-bottom: 5px solid transparent;
		text-decoration: none;
	}
	nav a.active:not(a[role=button]) {
		text-decoration: none;
		border-bottom-color: var(--primary);
	}
	nav li {
		padding: 0.25em;
	}
	.feature-links {
		display: flex;
		gap: 4px;
	}
	a[role=button] {
		height: 52px;
	}
</style>
