---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<article>
  <div>
    <hgroup>
      <h1>{title}</h1>
      <p>For access to the course content.</p>
    </hgroup>
    <form>
      <input
        type="text"
        name={title}
        placeholder="Username or Email"
        aria-label="Username or Email"
        autocomplete="username"
        required
      />
      <input
        type="password"
        name="password"
        placeholder="Password"
        aria-label="Password"
        autocomplete="current-password"
        required
      />
      <button type="submit" class="contrast" onclick="event.preventDefault()">Login</button>
    </form>
  </div>
</article>

<style>
  article {
    margin: 0 auto;
    min-width: 600px;
    width: 50vw;
  }
</style>