---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { checkAuth} from '../lib/checkAuth'

const { cookies, redirect } = Astro;

const auth = await checkAuth({cookies, redirect})
  .then(data => data)
  .catch(err => console.log(err));
---

<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} auth={auth ?? false}/>
		<slot name="banner"/>
		<main transition:animate="slide" >
			<slot />
		</main>
		<Footer />
	</body>
</html>

<script is:inline>
</script>