---
import Home from "../../layouts/Home.astro";
---

<Home>
  <h2 class="center">My Courses</h2>
  <a href="/class/progress" role="button">Frontend Developer Professional Certification</button>
</Home>