---
import Home from '../../layouts/Home.astro';
---

<Home>
  <h1 class="center">Career Topics</h1>
                <section>
                    <h5>Advice for your Job Search</h5>
                    <ol>
                        <li>
                            <strong>Your First line of offense in the Job Market: Portfolio & Resume</strong>
                            <ul>
                                <li>Communication on multiple fronts - LinkedIn, Networking, <a href="https://rocdev.org/">RocDev</a></li>
                                <li>In addtion to job boards try Matching services: Tryplebyte, Hired.com and Vettery</li>
                                <li>Stay sharp with Coding Challenge sites: HackerRank, Leetcode, Coderbyte, Topcoder, Codility</li>
                                <li>Finish your Freecodecamp Certs to Pursue the <a href="https://guide.freecodecamp.org/miscellaneous/how-free-code-camps-nonprofits-projects-work/">Non-profit opportunity</a></li>
                                <li>Do your research on the Company - website, their blog github: Job market in Dev is strong, so you can afford to be a bit picky… Apply to companies doing work you’re actually interested in since that passion you have for it will end up being a strength during your interview anyways</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Side Projects</strong>
                            <ul>
                                <li>Merge your interests/hobbies with coding</li>
                                <li>Go build something - best way to learn & best asset in an interview</li>
                                <li><a href="https://tonsky.me/blog/github-redesign/">Just redesign an already designed website</a></li>
                                <li>Present it on Github</li>
                                <li>Contribute to an Open Source Project. Maybe through <a href="https://www.codetriage.com/">Code Triage</a></li>
                                <li>Explore an audience for it - it's possible to monetize these</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Common Interview Questions</strong>
                            <ul>
                                <li>Background/Qualifications - Prep an outline (100% chance)</li>
                                <li>Behavioral Questions - Prep your Stories (80% chance)</li>
                                <li>Whiteboarding/Technical Questions (70% chance)</li>
                                <li>Take home assignments (40-50% chance)</li>
                                <li>Strengths - Find a github project of yours that matches their job description so you can speak about how you already have experience doing what they seek. If you don’t have a github project that matches yet, spend a week or two and make one before you apply.</li>
                                <li>Weaknesses - Framing it as your learning goals</li>
                                <li><a href="https://techdevguide.withgoogle.com/paths/interview/?programming_languages=javascript">Google Interviewing Prep</a></li>
                                <li>Book Recommendation: <a href="http://www.crackingthecodinginterview.com/">Cracking the Coding Interview</a></li>
                            </ul>
                        </li>
                        <li>
                            <strong>Remember: You should interview them too!</strong>
                            <ul>
                                <li>Perks? Typical day? Ticketing System? Scrum/Agile/Waterfall?</li>
                                <li>When was the last time they promoted someone on the dev team and why?</li>
                                <li>What’s the team like? Who’s your boss? What’s the stack/codebase like? Test coverage?</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Negotiation Tips</strong>
                            <ul>
                                <li>Entry level vs Mid vs Senior</li>
                                <li>Know your worth</li>
                                <li>Negotiate for value not just compensation</li>
                                <li>
                                    <details>
                                        <summary>What can you negotiate for?</summary>
                                        <ul>
                                            <li>Base Salary</li>
                                            <li>Minimum Raises & Raise Interval</li>
                                            <li>Performance Review Frequency</li>
                                            <li>Healthcare Benefits & Premium discounts</li>
                                            <li>Vacation</li>
                                            <li>Training</li>
                                            <li>Education & Professional Development & Conferences</li>
                                            <li>Tuition Assistance</li>
                                            <li>Annual Bonuses</li>
                                            <li>Incentive Pay & Commision</li>
                                            <li>Health Club Memberships</li>
                                            <li>Home Office & Internet Stipend</li>
                                            <li>Car</li>
                                            <li>Parking</li>
                                            <li>Association Dues</li>
                                            <li>Signing Bonuses</li>
                                            <li>Profit Sharing</li>
                                            <li>Stock Options & Equity</li>
                                            <li>Insurance</li>
                                            <li>Pension</li>
                                            <li>Overtime Rate</li>
                                            <li>Relocation Expenses</li>
                                            <li>Expense Account & Company Card</li>
                                            <li>Travel & Travel Rewards</li>
                                            <li>Company Mobile Phone & Laptop</li>
                                            <li>Remote Work, Telecommuting, Flex Time</li>
                                            <li>Leaves of Absence or Sabbatical</li>
                                        </ul>
                                    </details>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Continuing Learning Resources</strong>
                            <ul>
                                <li><a>Continue with Freecodecamp.org!! Go further with Data Viz and backend Certs</a></li>
                                <li><a href="https://guide.freecodecamp.org/miscellaneous/">Freecodecamp News</a></li>
                                <li><a href="https://www.freecodecamp.org/news/ivy-league-free-online-courses-a0d7ae675869/">Freecodecamp Recommended Ivy League Courses</a></li>
                                <li><a href="https://fullstackopen.com/en/">Full Stack Open Course</a></li>
                                <li><a>Udemy: Javascript the weird parts</a></li>
                                <li><a href="https://www.udacity.com/course/front-end-web-developer-nanodegree--nd0011">Udacity: Frontend Developer Nanodegree</a></li>
                                <li><a href="https://www.mooc.fi/en">Helsinki University Web Developer Course </a></li>
                                <li><a>Harvard University CS courses</a></li>
                                <li><a>Carnegie Mellon University</a></li>
                                <li><a>Github Student Developer education pack</a></li>
                            </ul>
                        </li>
                        <li>
                            <strong>Staying in the Know - Read/Listen to some Dev Media a few times a week</strong>
                            <ul>
                                <li>Podcasts</li>
                                <li>Articles straight to your inbox: Dev.to, Medium.com, Frontend Focus, Javascript Weekly, React Status</li>
                                <li>Youtube Channels: Academind, freeCodeCamp, Fireship, the Coding Train, Classsed </li>
                            </ul>
                        </li>
                        <li><a href="https://studentaffairs.duke.edu/blog/building-skills-and-exploring-careers-online">General Advice from Duke University</a></li>
                    </ol>
                </section>
</Home>